.hero-section-container {
  display: flex;
  max-width: 1080px;
  height: 1080px;
  border: 1px solid;
}

@media screen and (max-width: 900px) {
  .hero-section-container {
    flex-direction: column;
  }
}


