.hero-section-container {
  display: flex;
  max-width: 110rem;
  height: 1080px;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

@media screen and (max-width: 900px) {
  .hero-section-container {
    flex-direction: column-reverse;
  }
}
