/* General Design Rules */
.hero-data_image-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* General Design Rules End */

/* Mobile Design Rules  */
@media screen and (max-width: 999px) {
  .hero-data_text-image {
    order: 1;
    background-color: green;
  }

  .hero-data_text-container {
    order: 3;
    background-color: blue;
  }

  .hero-data_image-container {
    order: 2;
    background-image: url("../../assets/hero-mobile.jpg");
    background-color: red;
  }
}
/* Mobile Design Rules  End */

/* Desktop Design Rules */
@media screen and (min-width: 1000px) {
  .hero-data_text-container {
    flex: 0 1 90%;
  }

  .hero-data_text-image {
    flex: 0 1 10%;
    width: 50%;
    position: relative;
    border: 1px solid green;
  }

  .hero-data_image-container {
    flex: 0 1 100%;
    width: 50%;
    height: 100%;
    background-image: url("../../assets/hero-desktop.jpg");
    background-color: red;
  }

  .hero-data_text-container {
    height: 10%;
    /* background-color: blue; */
  }

  .hero-data_text-container {

  }
}
