/* General Design Rules */
.hero-data_image-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* General Design Rules End */

/* Mobile Design Rules  */
@media screen and (max-width: 999px) {
  .hero-data_text-image {
    order: 1;
    background-color: green;
  }

  .hero-data_text-container {
    order: 3;
    height: 40%;
    padding: 1.5rem;
    font-family: var(--font-family);
    text-align: center;
    justify-content: center;
    background: url("../../assets/bg-pattern-desktop.svg") center no-repeat;
    border: 1px solid blue;
  }

  .hero-data-text-header {
    margin: auto;
    margin-top: 2.5rem;
    line-height: 40px;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 600;
    max-width: 80%;
  }

  .hero-data-text-header span {
    font-weight: 300;
    color: var(--desaturated-red);
  }

  .hero-data-text-description {

  }

  .hero-data_image-container {
    order: 2;
    background-image: url("../../assets/hero-mobile.jpg");
    background-position: center center;
    background-size: cover;
    background-color: red;
  }
}
/* Mobile Design Rules  End */

/* Desktop Design Rules */
@media screen and (min-width: 1000px) {
  .hero-data_text-container {
    flex: 0 1 90%;
  }

  .hero-data_text-image {
    flex: 0 1 10%;
    width: 60%;
    position: relative;
    border: 1px solid green;
  }

  .hero-data_image-container {
    flex: 0 1 100%;
    width: 40%;
    height: 100%;
    background-image: url("../../assets/hero-desktop.jpg");
    background-color: red;
  }

  .hero-data_text-container {
    height: 10%;
    width: 60%;
    /* background-color: blue; */
  }

  .hero-data_text-container {
  }
}
